@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Work+Sans:ital,wght@1,200&display=swap');

*{
    font-family: 'Roboto' , sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Share Tech', sans-serif;
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100vw;
    height: 100vh;
    text-shadow: 8px 8px 10px #0000008c;
    background-color: #343a40;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%239C92AC' fill-opacity='0.25' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"), linear-gradient(to right top, #343a40, #2b2c31, #211f22, #151314, #000000);
}
 
h1 {
    margin: 20px;
}

.main-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    height: 300px;
    background: #ccc;

}

.menu ul {
    display: flex;
    color: #4d4d4f;
    margin-right: 80px;
    height: 15px;
    width: 10px;
    margin-top: 40px;
}
.menu ul li {
    list-style-type: none;
    padding: 14px;
    color: #4d4d4f;

}

.personal-avatar {
    order: 1;
    width: 300px;
    align-items: left;
    justify-content: center;
    margin-right: 80px;
    
}

.profile-informations{
    order: 2;
    color: #4d4d4f;
    width: 50%;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

.personal-profile-contacts dt{
    float: left;
    width: 80px;
    font-weight: bold;
}

.personal-profile-contacts dd dt {
    margin: 0 0 0 80px;
    padding:0 0 0.5em 0;

}

.body-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    top: 400px;
    gap: 10px;
    position: fixed;
    height: 300px;
    background: #ccc;

}

.body-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    position: fixed;
    width: 80%;
    top: 400px;
    height: 300px;
    background: #ccc;
}